body {
  padding-top: 20px;
  background-image:url(../images/darkw.jpg);
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}


/* Customize the nav-justified links to be fill the entire space of the .navbar */

.nav-justified {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top:1%;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}

@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Carousel base class */
.carousel {
  height: 300px;
  margin-bottom: 60px;
  width:100%;
  margin:auto;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 300px;
  background-color:transparent;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 15%;
  right: 0%;
  min-width:70%;
  height: 300px;
}

.featurette-divider {
    margin: 40px 0;
	text-decoration:none;
}

.featurette {
    overflow: hidden;
}

.featurette-image{
	width:260px;
	height:200px;
	margin-top:2%;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
	color:white;
	text-shadow: 3px 3px #000;
	
}

.img-responsive{
	width:700px;
	height:300px;
}

.thumbnail{
	width:380px;
	height:290px;
	margin:auto;
}

.lead{
	color:white;
}

.col-md-8{
	width:700px;
	height:600px;
}

.img{
	width:730px;
	height:550px;
	padding:45px;
}

.hero-feature{
	width:380px;
	height:600px;
	padding:35px;
}

footer {
    margin: 50px 0;
	color:white;
}

@media(max-width:1200px) {
    .headline h1 {
        font-size: 140px;
    }

    .headline h2 {
        font-size: 63px;
    }

    .featurette-divider {
        margin: 50px 0;
    }

    .featurette-image.pull-left {
        margin-right: 20px;
    }

    .featurette-image.pull-right {
        margin-left: 20px;
    }

    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h1 {
        font-size: 105px;
    }

    .headline h2 {
        font-size: 50px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-image {
        max-width: 50%;
    }

    .featurette-image.pull-left {
        margin-right: 10px;
    }

    .featurette-image.pull-right {
        margin-left: 10px;
    }

    .featurette-heading {
        font-size: 30px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }

    .featurette-divider {
        margin: 40px 0;
    }

    .featurette-heading {
        font-size: 25px;
    }
}

@media(max-width:668px) {
    .headline h1 {
        font-size: 70px;
    }

    .headline h2 {
        font-size: 32px;
    }

    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }

    .headline h1 {
        font-size: 60px;
    }

    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }

    .featurette-image {
        max-width: 100%;
    }

    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}

h3{
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}

h1{
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}

h2{
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}
	
h4{
	color:white;
	font-style: oblique;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:13px;
}

h5{
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size:16px;
	text-align:center;
}


p{
	color:white;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
}

.thumb {
    margin-bottom: 30px;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color:white;
}

/* mouse over link */
a:hover {
    color: yellow;
	text-decoration:none;
}

/* selected link */
a:active {
    color:white;
}

.portfolio-item {
    margin-bottom: 25px;
}

.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

.caption{
	background-color:black;
}

input[type=text] {
		width: 30%;
		box-sizing: border-box;
		color:black;
		}
		
		input[type=email] {
		width: 30%;
		margin: 8px 0;
		box-sizing: border-box;
		color:black;
		}
		
		input[type=submit] {
		background-color: #4CAF50;
		border: black;
		color: black;
		padding: 12px 30px;
		text-align: center;
		display: inline-block;
		font-size: 18px;
		margin: 4px 2px;
		cursor: pointer;
		}
		
		input[type=message]{
			color:black;
		}
		
		select{
			font-size:18px;
			color:black;
		}
		
form { 
	text-align:center;
}
